{% extends 'base.html' %}

{% block content %}
<main>
    <section class="experience-section">
        <div class="container">
            <p class="section-kicker">{% if is_edit %}Ubah data{% else %}Tambah data{% endif %}</p>
            <h1>{% if is_edit %}Edit Sertifikasi{% else %}Tambah Sertifikasi{% endif %}</h1>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Simpan</button>
                <a href="{% url 'main:show_certification' %}">Batal</a>
            </form>
        </div>
    </section>
</main>
{% endblock content %}